__pycache__/
*.py[cod]
*.so

wandb/
outputs/
eval_video/
eval_videos/
plots/
reward_logs/

*.egg-info/
build/
dist/
.eggs/

*.msgpack
*.mp4

*.bak
*.bak[0-9]
*.commented
*.docstrings
*.orig
*~

.venv/
venv/
.env

.vscode/
.idea/
.DS_Store
Thumbs.db
